body,html{
	height: 100%;
	width: 100%;
}

div.main-container{
	height: 100%;
}

aside{
	background-color: #2d353c;
	color: white;
	height: 100%;
}

div.fecha{
	text-align: center;
	border-bottom: 1px solid #fff;
}

nav ul{
	list-style: none;
}
nav ul li{
	margin-top: 20px;
}
nav ul li a{
	color:white;
}

div.header{
	background-color: #2d353c;
	text-align: center;
	color:#fff;
	text-shadow: 2px 2px 2px #afafaf;
}


div.container
{
	background-color: #2d353c;
	padding: .5em;
}

table th{
	padding: 2px !important;
}
